body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-custom {
  background-color: #62B5E5;
  height: 6rem;
  font-weight: bold;
}

.nav-link {
  color: #fff !important;
}

.workouts-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.workouts-wrapper .workout-card-layout {
  padding: 1rem 0.5rem;
  margin-top: 2rem;
  height: 5rem;
  width: 48%;
  font-size: 0.7rem;
  font-weight: bolder;
  color: gray;
}

.trackIt-count {
  font-size: 1.3rem;
  color: #706f6f;
}

.footer-custom {
  height: 4rem;
  background-color: #67899C;
}
